@font-face {
    font-family: Kaushan;
    src: url('../font/kaushanscript-regular-webfont.woff2') format('woff2'),
        url('../font/kaushanscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Alura';
    src: url('../font/allura-regular-webfont.woff2') format('woff2'),
         url('../font/allura-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Dancing';
    src: url('../font/dancingscript-regular-webfont.woff2') format('woff2'),
         url('../font/dancingscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
:root{
    --primary: #b6895b;
    --bg: #010101;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}
body{
    background-color: var(--bg);
    font-family: Poppins, sans-serif;
    color: white;
    /* min-height: 2000px; */
}
html{
    scroll-behavior: smooth;
}
/* Navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 7%;
    background-color: rgba(1, 1, 1, 0.8);
    border-bottom: 1px solid #8b6845;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
.navshop .filter{
    display: inline-block;
}
.navbar h1{
    z-index: 3;
}
.navbar .toptittle{
    position: absolute;
    text-align: center;
}
.navbar .logogallery{
    font-family: Kaushan;
    font-size: 2.2rem;
    color: white;
    font-weight: 300;
    text-shadow: 1px 1px 5px #906c49,-1px -1px 3px #906c49;
}
.beli a{
    color: white;
    margin: 0 0.5rem;
}
.beli a:hover{
    color: var(--primary);
    margin: 0 0.5rem;
}
.logogallery span:first-child{
    color: rgb(99, 198, 237);
}
.logogallery span:last-child{
    color: rgb(255, 143, 161);
}
.navigasi a,.navshop a{
    margin: 0 1.4rem;
    color: white;
    display: inline-block;
    font-size: 1.05rem;
}
.navigasi a:hover,.navshop a:hover{
    color: var(--primary);
}
.navigasi a:hover::after,.navshop a:hover::after{
    transform: scaleX(0.5);
}
.navigasi a::after,.navshop a::after{
    display: block;
    content: '';
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.5s;
}
.navshop a.back{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
}
.filter a.filterkan{
    color: var(--primary);
}
.return{
    display: inline-block;
    position: relative;
    top: 0.5rem;
}
.search-bar{
    position: absolute;
    top: 100%;
    right: 7%;
    background-color: white;
    width: 50rem;
    height: 4.5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.2s;
}
.search-bar.active{
    transform: scaleY(1);
}
.search-bar input#search-form{
    height: 100%;
    width: 100%;
    font-size: 1.4rem;
    color: var(--bg);
    padding: 1rem;
}
.search-bar input#search-form::placeholder{
    color: rgb(176, 176, 176);
}
.search-bar label{
    cursor: pointer;
    font-size: 2rem;
    margin-right: 1.5rem;
    color: var(--bg);
}
.memo{
    background-image: url(../img/Memo.jpeg);
}
.memo{
    width: 100%;
    min-height: 100vh;
    padding-top: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -8rem;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    mask-image: linear-gradient(rgba(0,0,0,1) 84%,rgba(0,0,0,0));
}
footer{
    background-color: var(--primary);
    text-align: center;
    padding: 1rem 0;
    margin-top: 3rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    position: absolute;
    right: 0;
    left: 0;
}
footer .media{
    padding: 1rem;
}
footer .media a{
    color: white;
    margin: 0 1rem;
}
footer .media a:hover,footer .link a:hover{
    color: #504131;
}
footer .link{
    margin-bottom: 1rem;
}
footer .link a{
    color: white;
    font-size: 1.1rem;
    margin: 0 0.5rem;
}
footer .copy{
    color: white;
    font-size: 1rem;
}
footer .copy a{
    color: #504131;
}
.modal{
    display: none;
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: animModal 0.2s forwards;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}
.modal .product-content p{
    text-align: justify;
}
/* Animation */
@keyframes animModal {
    0%{
        top: -300pc;
        opacity: 0;
    }
    100%{
        top: 0;
        opacity: 1;
    }
}

.modal-con{
    position: relative;
    background-color: #fefefe;
    color: var(--bg);
    margin: auto;
    padding: 1.2rem;
    border: 1px solid #666;
    width: 80%;
    height: 35rem;
}
.modal-con .close{
    position: absolute;
    right: 1rem;
    color: gray;
}
.modal-con .close:hover{
    color: var(--primary);
}
.modal-content{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.modal-content img{
    height: 25rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}
.modal-content h3{
    font-size: 2.5rem;
}
.modal-content p{
    font-size: 1.6rem;
    line-height: 1.8rem;
    margin-top: 1.2rem;
    display: inline-block;
    max-width: 95%;
}
.modal-content a{
    display: flex;
    gap: 1rem;
    width: 12rem;
    background-color: var(--primary);
    color: white;
    margin-top: 1rem;
    padding: 1rem 1.6rem;
    align-items: center;
}
.modal-content .right{
    margin-top: 2rem;
    position: relative;
    right: 0;
}
.modal-content .right .ratting{
    font-size: 2rem;
}
.modal-content .right .ratting .rate{
    fill: black;
}
.modal-content .right .price{
    font-size: 1.5rem;
}
.modal-content .right a{
    font-size: 1..09rem;
}
.modal-content .right .price span{
    font-size: 1.1rem;
    text-decoration: line-through;
}
.modal a.addtocart:hover{
    background-color: #906c49;
}

/* Media Queries */
@media(max-width:1747px){
    .shop .rows{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
    }
}
@media(max-width:1590px){
    .menu .row{
        grid-template-columns: repeat(2,minmax(25rem,1fr));
    }
    .products .rows{
        grid-template-columns: repeat(2,minmax(20rem,1fr));
    }
    .shop .rows{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
    }
}
@media(max-width:1450px){
    .shop .rows{
        display: grid;
        grid-template-columns: repeat(3,minmax(20rem,1fr));
    }
    .modal-con{
        height: 35rem;
    }
}
@media(max-width:1370px){
    html{
        font-size: 75%;
    }    
    .shop .rows{
        display: grid;
        grid-template-columns: repeat(3,minmax(20rem,1fr));
    }
    .shoping-cart{
        padding-bottom: 7rem;
    }
}
@media(max-width: 1178px) {
    html{
        font-size: 70%;
    }   
    .products .rows{
        grid-template-columns: repeat(2,minmax(20rem,1fr));
    }
    .shop .rows{
        display: grid;
        grid-template-columns: repeat(2,minmax(20rem,1fr));
    }
    .contact .docu{
        flex-wrap: wrap;
    }
    .modal-con{
        height: 62rem;
    }
    .modal-content{
        flex-wrap: wrap;
        justify-content: center;
    }
    .modal-content .right{
        margin-top: 2rem;
        position: relative;
        right: 0;
    }
    
    #shopmenu{
        display: inline-block;
    }
    .navshop{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 30rem;
        height: 100vh;
        background-color: white;
        transition: 0.5s;
    }
    .filter{
        border-top: 1px solid #504131;
        width: 100%;
    }
    .active{
        right: 0;
    }
    .navshop a{
        color: black;
        display: block;
        margin: 2rem;
        padding: 0.2rem;
        font-size: 2rem;
    }
    .navshop a::after{
        transform-origin: 0 0;
    }
    .navshop a:hover::after{
        transform: scaleX(0.2);
    }
    .navshop a.back{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.4rem;
    }
    .return{
        display: inline-block;
        position: relative;
        top: 0rem;
    }
    .products .prod-icon a,.shop .prod-icon a{
        width: 6rem;
        height: 6rem;
        justify-content: center;
        align-items: center;
    }
    .shoping-cart{
        padding-bottom: 9.8rem;
    }
}
@media(max-width:900px){
    html{
        font-size: 65%;
    }
}
@media(max-width:795px){
    html{
        font-size: 60%;
    }
    #sidemenu{
        display: inline-block;
    }
    .navigasi{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 30rem;
        height: 100vh;
        background-color: white;
        transition: 0.5s;
    }
    .active{
        right: 0;
    }
    .navigasi a{
        color: black;
        display: block;
        margin: 2rem;
        padding: 0.2rem;
        font-size: 2rem;
    }
    .navigasi a::after{
        transform-origin: 0 0;
    }
    .navigasi a:hover::after{
        transform: scaleX(0.2);
    }
    .search-bar{
        width: 90%;
        right: 2.3rem;
    }
    .about .row{
        flex-wrap: wrap;
    }
    .about .row img{
        height: 24rem;
        object-fit: cover;
        object-position: center;
    }
    .about .row .kami{
        padding: 0;
    }
    .about .row .kami h3{
        font-size: 1.6rem;
    }
    .contact .row{
        flex-wrap: wrap;
    }
    .contact .row form{
        padding-top: 0;
    }
    .contact iframe{
        height: 30rem;
    }
    .shop .rows{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
    }
    .menu .row{
        grid-template-columns: repeat(1,minmax(25rem,1fr));
    }
    .products .rows{
        grid-template-columns: repeat(1,minmax(20rem,1fr));
    }
    .modal-con{
        height: 72rem;
    }
    .modal-content .right a{
        width: 13rem;
        align-items: center;
    }
    .products .prod-icon a,.shop .prod-icon a{
        width: 7rem;
        height: 7rem;
        justify-content: center;
        align-items: center;
    }
}
@media(max-width:500px){
    html{
        font-size: 58%;
    }
    .shop .rows{
        display: grid;
        grid-template-columns: repeat(1,minmax(20rem,1fr));
    }
    .modal-con{
        height: 74rem;
    }
}
@media(max-width:478px){
    html{
        font-size: 52%;
    }
}
@media(max-width:450px){
    html{
        font-size: 44%;
    }
}