@font-face {
    font-family: Kaushan;
    src: url('../font/kaushanscript-regular-webfont.woff2') format('woff2'),
        url('../font/kaushanscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Alura';
    src: url('../font/allura-regular-webfont.woff2') format('woff2'),
         url('../font/allura-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Dancing';
    src: url('../font/dancingscript-regular-webfont.woff2') format('woff2'),
         url('../font/dancingscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
:root{
    --primary: #b6895b;
    --bg: #010101;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}
body{
    background-color: var(--bg);
    font-family: Poppins, sans-serif;
    color: white;
    /* min-height: 2000px; */
}
html{
    scroll-behavior: smooth;
}
/* Navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 7%;
    background-color: rgba(1, 1, 1, 0.8);
    border-bottom: 1px solid #8b6845;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
.navshop .filter{
    display: inline-block;
}
.navbar h1{
    z-index: 3;
}
.navbar .toptittle{
    position: absolute;
    text-align: center;
}
.navbar .logogallery{
    font-family: Kaushan;
    font-size: 2.2rem;
    color: white;
    font-weight: 300;
    text-shadow: 1px 1px 5px #906c49,-1px -1px 3px #906c49;
}
.beli a{
    color: white;
    margin: 0 0.5rem;
}
.beli a:hover{
    color: var(--primary);
    margin: 0 0.5rem;
}
.logogallery span:first-child{
    color: rgb(99, 198, 237);
}
.logogallery span:last-child{
    color: rgb(255, 143, 161);
}
.navigasi a,.navshop a{
    margin: 0 1.4rem;
    color: white;
    display: inline-block;
    font-size: 1.05rem;
}
.navigasi a:hover,.navshop a:hover{
    color: var(--primary);
}
.navigasi a:hover::after,.navshop a:hover::after{
    transform: scaleX(0.5);
}
.navigasi a::after,.navshop a::after{
    display: block;
    content: '';
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.5s;
}
.navshop a.back{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
}
#galmenu{
    display: none;
}
.filter a.filterkan{
    color: var(--primary);
}
.return{
    display: inline-block;
    position: relative;
    top: 0.5rem;
}
.search-bar{
    position: absolute;
    top: 100%;
    right: 7%;
    background-color: white;
    width: 50rem;
    height: 4.5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.2s;
}
.search-bar.active{
    transform: scaleY(1);
}
.search-bar input#search-form{
    height: 100%;
    width: 100%;
    font-size: 1.4rem;
    color: var(--bg);
    padding: 1rem;
}
.search-bar input#search-form::placeholder{
    color: rgb(176, 176, 176);
}
.search-bar label{
    cursor: pointer;
    font-size: 2rem;
    margin-right: 1.5rem;
    color: var(--bg);
}
.memo{
    background-image: url(../img/Memo.jpg);
}
.memo h2{
    font-size: 5rem;
    font-family: Alura;
    color: rgba(255, 255, 255, 0.871);
}
.memo h2 span:first-of-type{
    font-size: 4.5rem;
    font-family: Kaushan;
    color: rgba(112, 238, 215, 0.818);
    text-shadow: 2px 2px 8px rgba(208, 208, 208, 0.804),-2px -2px 8px rgba(195, 195, 195, 0.8595);
}
.memo h2 span:last-of-type{
    font-size: 4.5rem;
    font-family: Kaushan;
    color: rgba(233, 162, 255, 0.83);
    text-shadow: 2px 2px 8px rgba(208, 208, 208, 0.815),-2px -2px 8px rgba(195, 195, 195, 0.829);
}
.memo a{
    font-size: 5.7rem;
    font-family: Dancing;
    color: rgba(255, 255, 255, 0.861);
    font-weight: 700;
    text-shadow: 2px 2px 8px rgba(208, 208, 208, 0.858),-2px -2px 8px rgba(195, 195, 195, 0.86595);
}
.memo a span{
    font-family: Alura;
    color: rgba(255, 231, 76, 0.787);;
}
.memo div{
    text-shadow: 1px 1px 8px rgba(181, 181, 181, 0.664),-1px -1px 8px rgba(176, 176, 176, 0.677);
    margin-top: -5rem;
}
.memo a:hover{
    transform: scale(1.1);
    padding-bottom: 0.5rem;
}
.memo a:hover::after{
    transform: scaleX(0.5);
    margin-top: 0;
}
.memo a::after{
    display: block;
    content: '';
    margin-top: -2rem;
    border-bottom: 0.2rem solid white;
    filter: drop-shadow(2px 2px 5px lightgray);
    transform: scaleX(0);
    transition: 0.5s;
}
.memo a img{
    height: 6rem;
    filter: drop-shadow(2px 2px 5px lightgray);
    position: absolute;
    z-index: 1;
    margin-top: 2rem;
}
.memo{
    width: 100%;
    min-height: 100vh;
    padding-top: 7rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    mask-image: linear-gradient(rgba(0,0,0,1) 84%,rgba(0,0,0,0));
}
.gallery{
    padding: 10rem 7% 1.4rem;
}
.gallery h2{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 3rem;
}
.gallery h2 span{
    color: var(--primary);
}
.gallery .customer,.gallery .employees,.gallery .bands{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5rem;
    justify-content: center;
    gap: 0.5rem;
}
.customer,.employees,.bands{
    margin: 0 0 2rem;
}
.img-card {
  background-color: transparent;
  width: 23rem;
  height: 23rem;
  bottom: 0;
  perspective: 1000px;
  margin: 0 2rem 2rem 0;
  margin-bottom: 5rem;
}

.inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.img-card.turn .inner {
  transform: rotateY(180deg);
}

.frontside, .backside {
  position: absolute;
  width: 23rem;
  height: 23rem;
  bottom: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.frontside {
  color: black;
}

.backside {
  transform: rotateY(180deg);
  position: relative;
}
.backside .quote{
    display: flex;
    position: absolute;
    top: 50%;
    color: black;
    font-size: 1.3rem;
    font-family: "Leckerli One", cursive;
    align-items: center;
    padding: 0 0.2rem;
}
.gallery img{
    width: 23rem;
    cursor: pointer;
}
.gallery .img-card:hover{
    animation: polaroid 1s;
}
@keyframes polaroid {
    0%{
        transform: rotate(0);
    }
    25%{
        transform: rotate(10deg);
    }
    75%{
        transform: rotate(-10deg);
    }
    100%{
        transform: rotate(0);
    }
}
.gallery h3{
    font-family: Dancing;
    font-size: 2.7rem;
    text-align: center;
    margin-bottom: 1rem;
}
footer{
    background-color: var(--primary);
    text-align: center;
    padding: 1rem 0;
    margin-top: 3rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    position: absolute;
    right: 0;
    left: 0;
}
footer .media{
    padding: 1rem;
}
footer .media a{
    color: white;
    margin: 0 1rem;
}
footer .media a:hover,footer .link a:hover{
    color: #504131;
}
footer .link{
    margin-bottom: 1rem;
}
footer .link a{
    color: white;
    font-size: 1.1rem;
    margin: 0 0.5rem;
}
footer .copy{
    color: white;
    font-size: 1rem;
}
footer .copy a{
    color: #504131;
}

/* Media Queries */
@media(max-width:1747px){
    
}
@media(max-width:1590px){
    
@media(max-width:1450px){
    
}
@media(max-width:1370px){
    html{
        font-size: 75%;
    }
}
@media(max-width: 1178px) {
    html{
        font-size: 70%;
    }
    
    #galmenu{
        display: inline-block;
    }
    .navshop{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 30rem;
        height: 100vh;
        background-color: white;
        transition: 0.5s;
    }
    .filter{
        border-top: 1px solid #504131;
        width: 100%;
    }
    .active{
        right: 0;
    }
    .navshop a{
        color: black;
        display: block;
        margin: 2rem;
        padding: 0.2rem;
        font-size: 2rem;
    }
    .navshop a::after{
        transform-origin: 0 0;
    }
    .navshop a:hover::after{
        transform: scaleX(0.2);
    }
    .navshop a.back{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.4rem;
    }
    .return{
        display: inline-block;
        position: relative;
        top: 0rem;
    }
}
@media(max-width:900px){
    html{
        font-size: 65%;
    }
}
@media(max-width:795px){
    html{
        font-size: 60%;
    }
}
@media(max-width:500px){
    html{
        font-size: 58%;
    }
}
@media(max-width:376px){
    .memo a{
        font-size: 5rem;
    }
}