@font-face {
    font-family: Kaushan;
    src: url('../font/kaushanscript-regular-webfont.woff2') format('woff2'),
        url('../font/kaushanscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Alura';
    src: url('../font/allura-regular-webfont.woff2') format('woff2'),
         url('../font/allura-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Dancing';
    src: url('../font/dancingscript-regular-webfont.woff2') format('woff2'),
         url('../font/dancingscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
:root{
    --primary: #b6895b;
    --bg: #010101;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}
body{
    background-color: var(--bg);
    font-family: Poppins, sans-serif;
    color: white;
    /* min-height: 2000px; */
}
html{
    scroll-behavior: smooth;
}
/* Navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 7%;
    background-color: rgba(1, 1, 1, 0.8);
    border-bottom: 1px solid #8b6845;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
.navshop .filter{
    display: inline-block;
}
.navbar .logo span{
    color: var(--primary);
}
.navigasi a,.navshop a{
    margin: 0 1.4rem;
    color: white;
    display: inline-block;
    font-size: 1.05rem;
}
.navbar .logo,.navinshop .logo{
    font-family: Kaushan;
    font-size: 2.2rem;
    color: white;
    font-weight: 300;
    text-shadow: 1px 1px 5px #906c49,-1px -1px 3px #906c49;
}
.navbar h1{
    z-index: 3;
}
.navbar .toptittle{
    position: absolute;
    text-align: center;
}
.navbar .logo,.navinshop .logo{
    font-family: Kaushan;
    font-size: 2.2rem;
    color: white;
    font-weight: 300;
    text-shadow: 1px 1px 5px #906c49,-1px -1px 3px #906c49;
}
.navigasi a,.navshop a{
    margin: 0 1.4rem;
    color: white;
    display: inline-block;
    font-size: 1.05rem;
}
.navigasi a:hover,.navshop a:hover{
    color: var(--primary);
}
.navigasi a:hover::after,.navshop a:hover::after{
    transform: scaleX(0.5);
}
.navigasi a::after,.navshop a::after{
    display: block;
    content: '';
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.5s;
}
.navshop a.back{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
}
/* Shoping Cart */
.shoping-cart{
    position: absolute;
    top: 100%;
    right: -100%;
    height: auto;
    width: 35rem;
    height: 100vh;
    overflow: scroll;
    padding: 0 1.5rem;
    color: black;
    background-color: white;
    transition: 0.5s;
    padding-bottom: 2.5rem;
}
.shoping-cart.appear{
    right: 0;
}
.shoping-cart img{
    height: 6rem;
    border-radius: 50%;
}
.shoping-cart h3{
    font-size: 1.6rem;
    width: 95%;
}
.shoping-cart h2{
    font-size: 2.5rem;
    margin: 2rem;
}
.shoping-cart .item-price{
    font-size: 1.2rem;
}
.shoping-cart .item-price span{
    font-size: 0.8rem;
    text-decoration: line-through;
}
.shoping-cart .remove-item{
    position: absolute;
    right: 0;
    height: 2rem;
    border-radius: 50%;
}
.shoping-cart .remove-item:hover{
    background-color: rgb(231, 231, 231);
}
.cart-item{
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px dashed #666;
    position: relative;
}
.cart-item.removeit{
    transform-origin: top;
    animation: hapus 1s forwards;
}
@keyframes hapus {
    0%{
        opacity: 1;
        transform: scaleY(1);
        height: 6rem;
        margin: 2rem 0;
        padding-bottom: 1rem;
        gap: 1.5rem;
    }
    50%{
        opacity: 0;
        transform: scaleY(1);
        height: 6rem;
        margin: 2rem 0;
        padding-bottom: 1rem;
        gap: 1.5rem;
    }
    100%{
        opacity: 0;
        transform: scaleY(0);
        height: 0;
        margin: 0;
        padding-bottom: 0;
        gap: 0;
    }
}
.filter a.filterkan{
    color: var(--primary);
}
.return{
    display: inline-block;
    position: relative;
    top: 0.5rem;
}
.beli a{
    color: white;
    margin: 0 0.5rem;
}
.beli a:hover{
    color: var(--primary);
    margin: 0 0.5rem;
}
#sidemenu{
    display: none;
}
#shopmenu{
    display: none;
}
.search-bar{
    position: absolute;
    top: 100%;
    right: 7%;
    background-color: white;
    width: 50rem;
    height: 4.5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.2s;
}
.search-bar.active{
    transform: scaleY(1);
}
.search-bar input#search-form{
    height: 100%;
    width: 100%;
    font-size: 1.4rem;
    color: var(--bg);
    padding: 1rem;
}
.search-bar input#search-form::placeholder{
    color: rgb(176, 176, 176);
}
.search-bar label{
    cursor: pointer;
    font-size: 2rem;
    margin-right: 1.5rem;
    color: var(--bg);
}
.hero{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
    background-image: url(../img/Coffee\ BG.jpeg);
    mask-image: linear-gradient(rgba(0,0,0,1) 84%,rgba(0,0,0,0));
}
/* .hero::after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0;
    background-image: linear-gradient(0deg,rgba(1,1,1,1) 8%,rgba(255, 255, 255, 0) 50%);
} */
.hero main{
    padding: 1.4rem 7%;
}
.hero main h1{
    max-width: 42%;
    font-size: 3em;
    line-height: 1.2em;
    color: white;
    text-shadow: 1px 1px 5px gray;
}
.hero main h1 .pait{
    color: skyblue;
}
.hero main h1 .manis{
    color: pink;
}
.hero main p{
    font-size: 1.2rem;
    margin-top: 1.4rem;
    line-height: 1.4rem;
    text-shadow: 1px 1px 5px lightgray;
    text-align: justify;
    max-width: 45%;
    /* mix-blend-mode: difference; */
    font-weight: 200;
}
.hero main a.cta{
    font-size: 1.2rem;
    margin-top: 1.4rem;
    display: inline-block;
    padding: 1rem 3rem;
    color: white;
    background-image: linear-gradient(#df9e5d,#d68e46);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 8px black;
}
.hero main a.cta:hover{
    background-image: linear-gradient(#cf9b68,#a47a4f);
}
.about, .menu, .products, .contact, .shop{
    padding: 10rem 7% 1.4rem;
}
.instuksi div{
    width: 90%;
}
.instuksi h2{
    font-family: Kaushan;
    text-align: center;
    font-size: 2.5rem;
    text-shadow: 1px 1px 8px rgba(195, 195, 195, 0.706),-1px -1px 8px rgba(192, 192, 192, 0.752);
    font-weight: 600;
    margin-top: -8rem;
}
.instuksi a{
    display: block;
    border-radius: 1.4rem;
    text-align: center;
    margin: auto;
    text-shadow: 1px 1px 8px rgba(195, 195, 195, 0.706),-1px -1px 8px rgba(192, 192, 192, 0.752);
    font-size: 6rem;
    color: #9cd6ffe1;
    font-family: Alura;
    font-weight: 600;
    transition: 0.3s;
}
.instuksi a img{
    height: 6rem;
    filter: drop-shadow(2px 2px 5px lightgray);
    position: absolute;
    z-index: 1;
}
.instuksi a span:first-child{
    position: relative;
    top: 3rem;
}
.instuksi a:hover{
    transform: scale(1.1);
    padding-bottom: 0.5rem;
}
.instuksi a:hover::after{
    transform: scaleX(0.35);
    margin-top: 0;
}
.instuksi a::after{
    display: block;
    content: '';
    margin-top: -2rem;
    border-bottom: 0.2rem solid white;
    filter: drop-shadow(2px 2px 5px lightgray);
    transform: scaleX(0);
    transition: 0.5s;
}
.instuksi a span{
    color: #ff9c9ce5;
    font-family: Kaushan;
    font-size: 4rem;
    text-shadow: 1px 1px 8px rgba(201, 201, 201, 0.706),-1px -1px 8px rgba(196, 196, 196, 0.752);
}
.instuksi a span:last-child{
    color: rgba(255, 255, 255, 0.779);
}
.instuksi h2 span{
    margin: auto;
    color: #ffc26ddd;
    text-shadow: 2px 2px 8px rgba(128, 128, 128, 0.726),-2px -2px 8px rgba(141, 141, 141, 0.778);
    font-family: Dancing;
    font-size: 1.5em;
}
.instuksi{
    background-image: url(../img/Bg\ toko\ s.jpg);
}
.instuksi{
    width: 100%;
    min-height: 100vh;
    padding-top: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -8rem;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    mask-image: linear-gradient(rgba(0,0,0,1) 84%,rgba(0,0,0,0));
}
.about h2, .menu h2, .products h2, .contact h2, .shop h2{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 3rem;
}
.about h2 span, .menu h2 span, .products h2 span, .contact h2 span, .shop h2 span{
    color: var(--primary);
}
.row{
    display: flex;
}
.about .row .img{
    flex: 1 1 45rem;
}
.about .row img{
    width: 100%;
}
.about .row .kami{
    flex: 1 1 35rem;
    padding: 0 1rem;
}
.kami h3{
    font-size: 1.8rem;
    margin-bottom: 1.4rem;
}
.kami p{
    margin-bottom: 0.8rem;
    font-size: 1.45rem;
    text-align: justify;
    line-height: 1.6rem;
}
.menu h2, .contact h2, .products h2, .shop h2{
    margin-bottom: 1rem;
}
.menu p, .contact p, .products p{
    text-align: center;
    max-width: 40rem;
    margin: auto;
    font-weight: 200;
    line-height: 1.6;
    font-size: 1.3rem;
    margin-bottom: -3rem;
}
.contact p{
    text-align: center;
    max-width: 50rem;
    margin: auto;
    font-weight: 200;
    line-height: 1.6;
    font-size: 1.3rem;
    margin-bottom: -3rem;
}
.menu .row{
    display: grid;
    grid-template-columns: repeat(4,minmax(25rem,1fr));
    margin-top: 5rem;
    justify-content: center;
}
.menu .menulist{
    text-align: center;
}
.menu .menulist img{
    border-radius: 50%;
    width: 50%;
}
.menu .menulist{
    margin: 0 0 3.5rem;
}
.menu .menulist h3{
    margin-top: 1.3rem;
    font-size: 2rem;
}
.menu .menulist p{
    font-size: 1.5rem;
}
/* produk */
.products .rows{
    display: grid;
    grid-template-columns: repeat(4,minmax(20rem,1fr));
    gap: 1.5rem;
    margin-top: 4rem;
}
.shop .rows{
    display: grid;
    grid-template-columns: repeat(3,minmax(30rem,1fr));
    gap: 1.5rem;
    margin-top: 4rem;
}
.products .produk-card,.shop .produk-card{
    text-align: center;
    border: 1px solid #666;
    padding: 2rem;
}
.products .prod-icon,.shop .prod-icon{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}
.products .prod-icon a,.shop .prod-icon a{
    width: 5rem;
    height: 5rem;
    color: white;
    margin: 0.3rem;
    border: 1px solid #666;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.products .prod-icon a img,.shop .prod-icon a img{
    width: 2rem;
}
.shop .prod-icon div:hover{
    background-color: var(--primary);
}
.shop .prod-icon img.purchase{
    height:  2rem;
}
.products .prod-icon a:hover,.shop .prod-icon a:hover{
    border: 1px solid var(--primary);
    background-color: var(--primary);
}
.products .product-img img,.shop .product-img img{
    height: 15rem;
}
.products .product-des, .shop .product-des{
    font-size: 2rem;
}
.products .ratting, .shop .ratting{
    font-size: 1.7rem;
    padding: 0.8rem;
    color: var(--primary);
}
.products .ratting .rate, .shop .ratting .rate{
    fill: var(--primary);
}
.products .price, .shop .price{
    font-size: 1.6rem;
    font-weight: bold;
}
.products .price span, .shop .price span{
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 1.1rem;
}
.products .seemore,.menu .seemore,.contact .seemore{
    font-size: 1.6rem;
    display: flex;
    position: relative;
    right: 0;
    justify-content: end;
    margin-top: 1.6rem;
}
.contact .seemore{
    margin-top: 4rem;
}
.products .seemore a,.menu .seemore a,.contact .seemore a{
    color: var(--primary);
}
.products .seemore a,.menu .seemore a,.contact .seemore a{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* produk */
.contact .docu{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
}
.contact .docu img{
    width: 70%;
    margin-top: 4rem;
    box-shadow: 0.5px 0.5px 10px -2px rgba(255, 255, 255, 0.504),-0.5px -0.5px 10px -2px rgba(255, 255, 255, 0.501);
    font-weight: 700;
    margin-bottom: 0.5rem;
}
.contact h3{
    text-align: center;
    margin-top: 4rem;
    font-size: 1.5rem;
}
.contact h3 span{
    color: var(--primary);
}
.contact iframe{
    margin-top: 1.4rem;
    flex: 1 1 60rem;
    height: 45rem;
    width: 100%;
    object-fit: cover;
}
.contact form{
    flex: 1 1 30rem;
    padding: 5rem 2rem;
    margin-top: 1.4rem;
    text-align: center;
    background-color: rgb(46, 46, 46);
}
.contact form .input{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    background-color: var(--bg);
    border: 1px solid grey;
    padding-left: 2rem;
    height: 4rem;
}
.contact form .input input{
    background-color: var(--bg);
    margin-left: 2rem;
    height: 3rem;
    color: white;
    font-size: 1.4rem;
}
.contact form button{
    display: inline-block;
    margin-top: 2rem;
    padding: 0.8rem 1.2rem;
    font-size: 1.5rem;
    color: white;    
    background-image: linear-gradient(#df9e5d,#d68e46);
    border-radius: 0.6rem;
}.contact form button:hover{
    background-image: linear-gradient(#cf9b68,#a47a4f);
    cursor: pointer;
}
.contact form .input input::placeholder{
    color: gray;
}
footer{
    background-color: var(--primary);
    text-align: center;
    padding: 1rem 0;
    margin-top: 3rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    position: absolute;
    right: 0;
    left: 0;
}
footer .media{
    padding: 1rem;
}
footer .media a{
    color: white;
    margin: 0 1rem;
}
footer .media a:hover,footer .link a:hover{
    color: #504131;
}
footer .link{
    margin-bottom: 1rem;
}
footer .link a{
    color: white;
    font-size: 1.1rem;
    margin: 0 0.5rem;
}
footer .copy{
    color: white;
    font-size: 1rem;
}
footer .copy a{
    color: #504131;
}
.modal{
    display: none;
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: animModal 0.2s forwards;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}
.modal .product-content p{
    text-align: justify;
}
/* Animation */
@keyframes animModal {
    0%{
        top: -300pc;
        opacity: 0;
    }
    100%{
        top: 0;
        opacity: 1;
    }
}

.modal-con{
    position: relative;
    background-color: #fefefe;
    color: var(--bg);
    margin: auto;
    padding: 1.2rem;
    border: 1px solid #666;
    width: 80%;
    height: 35rem;
}
.modal-con .close{
    position: absolute;
    right: 1rem;
    color: gray;
}
.modal-con .close:hover{
    color: var(--primary);
}
.modal-content{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.modal-content img{
    height: 25rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}
.modal-content h3{
    font-size: 2.5rem;
}
.modal-content p{
    font-size: 1.6rem;
    line-height: 1.8rem;
    margin-top: 1.2rem;
    display: inline-block;
    max-width: 95%;
}
.modal-content a{
    display: flex;
    gap: 1rem;
    width: 12rem;
    background-color: var(--primary);
    color: white;
    margin-top: 1rem;
    padding: 1rem 1.6rem;
    align-items: center;
}
.modal-content .right{
    margin-top: 2rem;
    position: relative;
    right: 0;
}
.modal-content .right .ratting{
    font-size: 2rem;
}
.modal-content .right .ratting .rate{
    fill: black;
}
.modal-content .right .price{
    font-size: 1.5rem;
}
.modal-content .right a{
    font-size: 1..09rem;
}
.modal-content .right .price span{
    font-size: 1.1rem;
    text-decoration: line-through;
}
.modal a.addtocart:hover{
    background-color: #906c49;
}

/* Media Queries */
@media(max-width:1747px){
    .shop .rows{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
    }
}
@media(max-width:1590px){
    .menu .row{
        grid-template-columns: repeat(2,minmax(25rem,1fr));
    }
    .products .rows{
        grid-template-columns: repeat(2,minmax(20rem,1fr));
    }
    .shop .rows{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
    }
}
@media(max-width:1450px){
    .shop .rows{
        display: grid;
        grid-template-columns: repeat(3,minmax(20rem,1fr));
    }
    .modal-con{
        height: 35rem;
    }
}
@media(max-width:1370px){
    html{
        font-size: 75%;
    }    
    .shop .rows{
        display: grid;
        grid-template-columns: repeat(3,minmax(20rem,1fr));
    }
    .shoping-cart{
        padding-bottom: 7rem;
    }
}
@media(max-width: 1178px) {
    html{
        font-size: 70%;
    }   
    .products .rows{
        grid-template-columns: repeat(2,minmax(20rem,1fr));
    }
    .shop .rows{
        display: grid;
        grid-template-columns: repeat(2,minmax(20rem,1fr));
    }
    .contact .docu{
        flex-wrap: wrap;
    }
    .modal-con{
        height: 62rem;
    }
    .modal-content{
        flex-wrap: wrap;
        justify-content: center;
    }
    .modal-content .right{
        margin-top: 2rem;
        position: relative;
        right: 0;
    }
    
    #shopmenu{
        display: inline-block;
    }
    .navshop{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 30rem;
        height: 100vh;
        background-color: white;
        transition: 0.5s;
    }
    .filter{
        border-top: 1px solid #504131;
        width: 100%;
    }
    .active{
        right: 0;
    }
    .navshop a{
        color: black;
        display: block;
        margin: 2rem;
        padding: 0.2rem;
        font-size: 2rem;
    }
    .navshop a::after{
        transform-origin: 0 0;
    }
    .navshop a:hover::after{
        transform: scaleX(0.2);
    }
    .navshop a.back{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.4rem;
    }
    .return{
        display: inline-block;
        position: relative;
        top: 0rem;
    }
    .products .prod-icon a,.shop .prod-icon a{
        width: 6rem;
        height: 6rem;
        justify-content: center;
        align-items: center;
    }
    .shoping-cart{
        padding-bottom: 9.8rem;
    }
}
@media(max-width:900px){
    html{
        font-size: 65%;
    }
}
@media(max-width:795px){
    html{
        font-size: 60%;
    }
    #sidemenu{
        display: inline-block;
    }
    .navigasi{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 30rem;
        height: 100vh;
        background-color: white;
        transition: 0.5s;
    }
    .active{
        right: 0;
    }
    .navigasi a{
        color: black;
        display: block;
        margin: 2rem;
        padding: 0.2rem;
        font-size: 2rem;
    }
    .navigasi a::after{
        transform-origin: 0 0;
    }
    .navigasi a:hover::after{
        transform: scaleX(0.2);
    }
    .search-bar{
        width: 90%;
        right: 2.3rem;
    }
    .about .row{
        flex-wrap: wrap;
    }
    .about .row img{
        height: 24rem;
        object-fit: cover;
        object-position: center;
    }
    .about .row .kami{
        padding: 0;
    }
    .about .row .kami h3{
        font-size: 1.6rem;
    }
    .contact .row{
        flex-wrap: wrap;
    }
    .contact .row form{
        padding-top: 0;
    }
    .contact iframe{
        height: 30rem;
    }
    .shop .rows{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
    }
    .menu .row{
        grid-template-columns: repeat(1,minmax(25rem,1fr));
    }
    .products .rows{
        grid-template-columns: repeat(1,minmax(20rem,1fr));
    }
    .modal-con{
        height: 72rem;
    }
    .modal-content .right a{
        width: 13rem;
        align-items: center;
    }
    .products .prod-icon a,.shop .prod-icon a{
        width: 7rem;
        height: 7rem;
        justify-content: center;
        align-items: center;
    }
}
@media(max-width:500px){
    html{
        font-size: 58%;
    }
    .shop .rows{
        display: grid;
        grid-template-columns: repeat(1,minmax(20rem,1fr));
    }
    .modal-con{
        height: 74rem;
    }
}